/* css for 576px and above */
@media screen and (min-width: 576px) {
  .section {
    padding: 3rem;
  }

  .hero-navbar-menu {
    display: none;
  }

  .hero-navbar-list {
    display: block;
    position: static;
    background-color: transparent;
  }

  .hero-navbar-list-item:not(:last-child) {
    display: inline-block;
    color: #161e6d;
    padding: 0;
    margin-right: 1.5rem;
    position: relative;
  }

  .hero-navbar-list-item:hover:not(:last-child) {
    background-color: transparent;
  }

  .hero-navbar-list-item:hover:not(:last-child)::after {
    content: "";
    height: 0.8rem;
    width: 100%;
    background-color: #fb6154;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
  }

  .hero-navbar-list-item:not(:last-child):hover {
    transform: scale(1.2);
    transition: all 0.2s ease;
  }

  .hero-body {
    margin-top: 10rem;
  }

  .hero-body-heading {
    font-size: 5rem;
    line-height: 5.5rem;
  }

  .hero-body-text {
    width: 80%;
    margin: 0 auto;
  }
}

/* css for 768px and above */

@media screen and (min-width: 768px) {
  .section {
    padding: 3rem 4rem;
  }

  .hero-body-heading {
    width: 60rem;
    margin: 0 auto;
  }

  .hero-body-text {
    width: 50%;
    margin: 0 auto;
  }

  .btn-nav {
    display: inline-block;
  }
}

/* css for 992px and above */

@media screen and (min-width: 992px) {
  .section-header {
    background-image: url("../images/hero-background.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 65rem;
  }

  .hero-navbar-list-item:not(:last-child) {
    color: #fff;
  }

  .hero-body {
    margin: 16rem 0;
    width: 60%;
    text-align: left;
  }

  .hero-body > *:not(:last-child) {
    margin-bottom: 3rem;
  }

  .hero-body-heading {
    width: 80%;
    margin: 0;
  }

  .hero-body-text {
    width: 60%;
    margin: 0;
  }

  .hero-navbar-logo {
    display: flex;
    align-items: center;
  }

  .hero-navbar-logo-img {
    margin-right: 4.5rem;
    cursor: pointer;
  }

  .hero-navbar-logo-icon,
  .hero-navbar-logo-text {
    display: inline-block;
  }

  .hero-navbar-logo-icon {
    margin-right: 1.5rem;
  }

  .hero-navbar-logo-text {
    cursor: pointer;
    color: #5b6199;
  }

  .hero-navbar-logo-text:hover {
    color: #fb6154;
  }
}

/* css for 1200px and above */

@media screen and (min-width: 1200px) {
  .section {
    padding: 4rem 6rem;
  }

  .section-header {
    background-size: 70rem;
  }

  .container {
    max-width: 1360px;
  }

  .hero-body {
    margin-top: 20rem;
  }

  .hero-body-heading {
    width: 60rem;
  }
}

/* css for 1400px and above */

@media screen and (min-width: 1400px) {
  .section {
    padding: 5.5rem 6rem;
  }

  .section-header {
    background-size: auto;
  }

  .hero-navbar-list-item:not(:last-child) {
    margin-right: 5rem;
    font-size: 1.5rem;
  }

  .hero-body {
    width: 42rem;
    margin-top: 25.5rem;
  }

  .hero-body > *:not(:last-child) {
    margin-bottom: 5rem;
  }

  .hero-body-heading {
    width: 55rem;
    line-height: 6.5rem;
  }

  .hero-body-text {
    line-height: 3.3rem;
    width: 42rem;
  }
}
