@media screen and (max-width:1400px) {
    .container{
        padding: 0rem 8rem;
    }
    .section-header{
        /* background-position-y: -28rem; */
        background-size: 50%;
    }

    .hero-navbar{
        padding: 2.5rem 0rem;
    }

    .hero-navbar-list-item:not(:last-child) {
        margin-right: 2.5rem;
      }

    .hero-body{
        margin-top: 15rem;
        width: 45rem;
    }

    .hero-body-text{
        width: 80%;
    }

    .hero-body > *:not(:last-child) {
        margin-bottom: 2.5rem;
      }
    
}