/* Default CSS */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

/* * {
  border: 1px solid red;
} */

::selection {
  background-color: #fb6154;
}

html {
  font-size: 10px;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Avenir-Regular";
  max-width: 1680px;
  min-height: 100vh;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* 

1. Responsiveness
2. Animating & js adding.
3. Polishing repeating CSS 

*/

/* Hero Section CSS Start */

.section {
  padding: 2rem;
}

.container {
  margin: 0rem auto 8rem;
}

/* Navbar CSS */
.hero-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  position: relative;
}

.hero-navbar-logo-icon,
.hero-navbar-logo-text {
  display: none;
}

.hero-navbar-menu {
  background-color: #fb6154;
  padding: 1rem;
}

.hero-navbar-list {
  position: absolute;
  right: 0;
  top: 100%;
  text-align: right;
  display: none;
  background-color: #161e6d;
}

.hero-navbar-list-item {
  color: #fff;
  padding: 1rem 1.5rem;
}

.hero-navbar-list-item:hover {
  background-color: #fb6154;
}

/* Button CSS */
.btn {
  padding: 2rem 4.5rem;
  border-radius: 3.2rem;
  background-image: linear-gradient(
    0deg,
    rgb(251, 81, 94) 0%,
    rgb(251, 105, 79) 100%
  );
  text-transform: uppercase;
  font-family: "Muli-Extra-Bold";
  font-size: 1.4rem;
  color: #fff;
  display: inline-block;
}

.btn:hover {
  background-image: linear-gradient(
    180deg,
    rgb(251, 81, 94) 0%,
    rgb(251, 105, 79) 100%
  );
}

.btn-nav {
  display: none;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
}

/* Hero Body CSS */
.hero-body {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10rem;
}

.hero-body > *:not(:last-child) {
  margin-bottom: 2rem;
}

.hero-body-heading {
  font-size: 3.5rem;
  line-height: 4.5rem;
  color: #161e6d;
  text-transform: capitalize;
}

.hero-body-text {
  font-size: 1.7rem;
  line-height: 2.5rem;
  color: #52585b;
}

/* CSS intended for JS*/
.display-block {
  display: block;
}
/* Hero Section CSS Ends */

/* Features Section CSS Start */

.section-heading {
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: #161e6d;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 5rem;
}

/* Features Box CSS */
.features-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-items-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/texture.png");
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 8rem 4.5rem;
  width: 30rem;
  margin-bottom: 5rem;
}

.features-items-box::before {
  content: "";
  background-image: url("../images/shadow.png");
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.3);
  opacity: 0.3;
}

.features-items-box:hover {
  background: url("../images/circle-bg.png"),
    linear-gradient(137deg, rgba(45, 201, 239, 1) 0%, rgba(91, 59, 255, 1) 100%);
  background-size: auto, 150%;
  background-repeat: no-repeat;
  background-position: 20% 100%, 0% 0%;
}

.features-items-box-icon {
  margin-bottom: 2rem;
  width: 8.4rem;
}
.features-items-box-heading {
  font-size: 2rem;
  line-height: 2.5rem;
  color: #161e6d;
  text-transform: capitalize;
  text-align: center;
  font-family: "Avenir-Heavy";
  margin-bottom: 1rem;
  position: relative;
}

.section-heading::before {
  content: "";
  height: 0.5rem;
  width: 5rem;
  background-color: #fb6154;
  position: absolute;
  margin-top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 32px;
}

.features-items-box-text {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #52585b;
  text-transform: capitalize;
  text-align: center;
  font-family: "Avenir-Regular";
}

.features-items-box:hover .features-items-box-heading,
.features-items-box:hover .features-items-box-text {
  color: #fff;
}

/* Features Section CSS End */

/* Fun Fact css start */
.section-fun-fact{
  background-image: url("../images/fun-fact-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain ;
  
}


.section-heading-fun::before {
  width: 0;
}

.section-subheading {
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #52585b;
  text-transform: capitalize;
  text-align: center;
  font-family: "Avenir-Regular";
  margin-bottom: 5rem;
}

.fun-fact-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.fun-fact-box-item {
  text-align: center;
  margin: 2.5rem;
}
.fun-fact-box-item-number {
  font-family: "Avenir-Heavy";
  color: #161e6d;
  font-size: 3rem;
}

.fun-fact-box-item-title{
  color: #52585b;
  font-family: "Avenir-Regular";
  font-size: 2rem;
  text-transform: capitalize;
}
